.btn1 {
            display: block;
            position: relative;
            background: #aaa;
            padding: 5px;
            float: left;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }
.btn2 {
        width: 100px;
        height: 30px;
        font-size: 18px;
        font-family: 微软雅黑;
        letter-spacing: 8px;
        padding-left: 12px;
        border-radius: 5px;
        background: -webkit-linear-gradient(top, #66B5E6, #2e88c0);
        background: -moz-linear-gradient(top, #66B5E6, #2e88c0);
        background: linear-gradient(top, #66B5E6, #2e88c0);
        background: -ms-linear-gradient(top, #66B5E6, #2e88c0);
        border: 1px solid #2576A8;
        box-shadow: 0 1px 2px #B8DCF1 inset, 0 -1px 0 #316F96 inset;
        color: #fff;
        text-shadow: 1px 1px 0.5px #22629B;
    }

._a{
    color: #00ff00;
    background-color: #ffff85;
}
